/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
  margin-bottom: 5px;
  color: white
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #333;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.post .card{
  margin-bottom: 5px;
  border-radius: .25rem;
  border:0px;
}

.post .card-body{
  /* background-color: rgba(11, 18, 51, 0.65); */
  background-color: #333;
  color: white;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}

.post .card-body a{
  color: #17ff00;
}

.post .card-header{
  background-color: rgb(37, 38, 43);
  color: white;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border:0px;
}

/* body{
  background-color: gray;
} */

.blog-title a{
  text-decoration: none;
}

.page-link{
  background-color: rgb(37, 38, 43);
  border:0px;
}

.page-item.disabled .page-link{
  background-color: #333;
  border:0px;
}