--- 
layout: default 
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card">
    <div class="card-header">
      <div class="titlebar row">
          <div class="col-3"><div class="fa fa-terminal" aria-hidden="true"></div></div>
          <div class="col-6 title-text">
            <div class="">{{ page.title | escape }} {{ page.date | date: "%F"}}</div>
          </div>
          <div class="col-3 control">
          <div class="fa fa-minus-circle" aria-hidden="true"></div>
          <div class="fa fa-plus-circle" aria-hidden="true"></div>
          <div class="fa fa-times-circle" aria-hidden="true"></div>
          </div>
        </div>
    </div>
    <div class="blog-post card-body">
      <!-- <div>{% if post.author %}{{ post.author }}{% endif %} $ cat ~/posts{{post.url | replace: 'html', 'txt' }}</div>  -->
      <div class="post-content" itemprop="articleBody">
        {{ page.content }}
      </div>
    </div>
  </div>
  {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
</article>